@media screen and (max-width: 760px){

    header{
        flex-direction: column;
    }

    #inscrevase{
        padding: 2px;
    }

    h1{
        font-size: 23px;
        line-height: 3px;
    }

    h1 > span{
        font-size: 30px;
        line-height: 15px;
    }

    main{
        margin-top: 20px;
        flex-direction: column;
    }
    
    
    h2{
        text-align: center;
        font-size: 30px;
        
    }

    h2 > span{
        font-size: 42px;
    }


    p{
        text-align: justify;
        padding: 25px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    form [type="submit"]{
        width: 50%;
        margin-bottom: 30px;
    }

    input{
        align-self: center;
        width: 70%;
        
    }


    ul{
        padding: 0;
    }

    li{
        padding: 0px;
        margin: 4px;
        font-weight: lighter;
        font-size: 12px;
        
    }

    img{
        display: block;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}