@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,400&display=swap');

:root{
    --corRoxa: rgb(132, 13, 201);
}

body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{ 
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
}

a{
    color: white;
    transition-duration: 0.3s;
}

a:hover{
    color:var(--corRoxa)
}

#inscrevase{
    color: white;
    border: 3px solid var(--corRoxa);
    padding: 10px;
    border-radius: 20px;
}

#inscrevase:hover{
    color: white;
    background-color: var(--corRoxa);
}

h1{
    font-size: 38px;
    line-height: 15px;
}

h1 > span{
    font-size: 50px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
}

h2{
    font-size: 45px;
    line-height: 10px;
}

span{
    font-size: 63px;
    color: rgb(132, 13, 201);
}

p{  
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    font-size: 18px;
    line-height: 20px;
    max-width: 500px;
}

img{
    size: 620px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type=submit]{
    width: 50%;
    height: 50%;
    background-color: var(--corRoxa);
    color: white;
    font-weight: bold;
}

form [type=submit]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
}